#graph {
	text-align: center;
}

/***** Thermostat *****/
.form-elements {
	text-align: center;
}

/***** Schedule *****/
.not-resizable {
	background-color: #D6D6D6;
	height: 480px;
	margin-right: 20px;
}

.resizable {
	background-color: #86D483;
	height: 240px;;
	position: relative;
	width: 100%;
	top: 140px;
	overflow: hidden;
}

/* Headers & Footers displaying day of the week and times. */
.date-headers {
	width: 100%;
	margin-right: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.time-footers {
	width: 100%;
	margin-top: 10px;
	margin-right: 20px;
	padding-left: 10px;
	text-align: right;
}

/* List of times for reference when setting schedule. */
.schedule-times {
	height: 480px;
	margin-right: 20px;
}

.schedule-times ul {
	list-style-type: none;
	margin-top: 20px;
}

.schedule-times ul li {
	padding-top: 35px;
	text-align: right;
}

.schedule-submit {
	margin-top: 10px;
}